.card {
  position: relative;
  user-select: none;
  overflow: hidden;

  &:hover {
    .cardBtn {
      background: var(--states-background-card-hover);
    }
  }

  &.selected {
    .cardBtn {
      background: var(--states-background-card-selected);
    }
  }
}

.cardBtn {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-areas:
    "avatar title title meta"
    "avatar text text text";
  width: 100%;
  padding: 9px 16px;
  text-align: left;
}

.avatar {
  grid-area: avatar;
  display: block;
  width: 64px;
  height: 64px;
  margin-right: var(--spacing-m);
  background: var(--divider-primary);
  border-radius: 50%;
}

.title {
  grid-area: title;
  font: 500 var(--font-detail-size) / var(--font-detail-line-height) var(--font);
  letter-spacing: var(--font-detail-letter-spacing);
  color: var(--text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  grid-area: text;
  display: -webkit-box;
  min-height: 40px;
  max-height: 40px;
  padding-top: var(--spacing-2xs);
  font: 400 var(--font-detail-size) / var(--font-detail-line-height) var(--font);
  letter-spacing: var(--font-detail-letter-spacing);
  color: var(--text-tertiary);
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  grid-area: meta;
  margin-left: var(--spacing-m);
  font: 400 var(--font-description-size) / var(--font-description-line-height)
    var(--font);
  letter-spacing: var(--font-description-letter-spacing);
  color: var(--text-tertiary);
}
