:root {
  --font:
    -apple-system, BlinkMacSystemFont, "Roboto", system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  --font-header-size: 24px;
  --font-header-weight: 600;
  --font-header-line-height: 28px;
  --font-header-letter-spacing: 0px;
  --font-body-size: 16px;
  --font-body-line-height: 20px;
  --font-body-letter-spacing: 0.15px;
  --font-detail-size: 15px;
  --font-detail-line-height: 20px;
  --font-detail-letter-spacing: 0.15px;
  --font-description-size: 13px;
  --font-description-line-height: 16px;
  --font-description-letter-spacing: 0.2px;
  --font-tag-size: 11px;
  --font-tag-line-height: 16px;
  --font-tag-letter-spacing: 0.3px;

  --spacing-l: 16px;
  --spacing-m: 12px;
  --spacing-s: 8px;
  --spacing-xs: 4px;
  --spacing-2xs: 2px;
  --text-primary: #060708;
  --text-tertiary: rgba(6, 7, 8, 0.522);
  --text-error: #e91b1b;

  --button-primary: #007aff;
  --states-button-primary-hover: #479fff;
  --states-button-primary-pressed: #006ee5;
  --states-button-primary-disabled: #007aff7a;
  --button-secondary: color-mix(in srgb, var(--text-primary) 52%, transparent);
  --states-button-secondary-hover: color-mix(
    in srgb,
    var(--text-primary) 72%,
    transparent
  );
  --states-button-secondary-active: var(--text-primary);
  --button-secondary-contrast: #20366e1a;
  --states-button-secondary-contrast-hover: #20366e14;
  --states-button-secondary-contrast-pressed: #20366e1f;
  --states-button-ghost-hover: #0d0d0d0a;
  --states-button-ghost-pressed: #0d0d0d14;

  --states-background-card-hover: #f6f6f6;
  --states-background-card-selected: #007aff14;

  --bubbles-background: #e9fdff;

  --bg-primary: #fff;
  --bg-secondary: #8ec4fe;
  --bg-surface: #edeef2;
  --bg-tertiary: #0909090d;

  --divider-primary: #0c0d0e29;
  --divider-secondary: #0c0d0e0f;

  font-family: var(--font);
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
}
